.rooms_continer{
    width: 100%;
}

.table__container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background: rgba(133, 124, 141, 0.8);
    border-radius: 10px;
}

.table__header{
    height: 20px;
    border-bottom: 1px #191C2F solid;
    border-top: 1px #191C2F solid;
}

th{
    text-align: center;
    font-size: 18px;
    border-right: 1px #191C2F solid;
}

.table__header__search{
    margin: 5px !important;
    height: 40px !important;
}

.table__header__button{
    margin: 5px !important;
    width: 180px;
    height: 50px;
    outline: 0px;
    border: 2px black solid;
    font-size: 28px;
    border-radius: 10px;
}

.table__header__button:hover{
    border: 3px black solid;
}

.table__header__td_search{
    text-align: left;
    border-right: 0px black solid !important; 
}

.table__header__td_button{
    text-align: right;    
}

.table__notFoundImage{
    width: 100px;
    height: 100px;
}

.table__notFoundDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__notFoundText{
    font-size: 32px;
}